.flex-container {
    display: flex;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    /* shorthand for flex-grow, flex-shrink, flex-basis*/
    flex: 4 1 auto;
  }
  
  /* only div.two is selected here */
  .flex-container .two {
    flex: 2 1 0%;
  }